Host bastionNSO
    Hostname 89.42.141.251
    User ubuntu
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes

Host devA
    Hostname 89.42.141.245
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host devB
    Hostname 89.42.141.78
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host devC
    Hostname 89.42.141.238
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host haproxy
    Hostname 89.42.141.13
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa
