Host bastionNSO
    Hostname <bastion_public_IP>
    User ubuntu
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes

Host devA
    Hostname <devA_private_IP>
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host devB
    Hostname <devB_private_IP>
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host devC
    Hostname <devC_private_IP>
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa

Host haproxy
    Hostname <haproxy_public_IP>
    User ubuntu
    ProxyJump bastionNSO
    IdentityFile ~/.ssh/id_rsa
